h1 div span {
  height: inherit;
  width: inherit;
  display: block;
  position: inherit;
  margin: 0 auto;
  padding: 0px;
}


.organ {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  position: relative;
  background: #994c00;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.key {
  background: #f2f2f2;
  border-radius: 5px;
  width: 40px;
  height: 300px;
  top: 50px;
  border: 1px solid black;
  position: relative;
  display: inline-block;
  box-shadow: 0px 7px #888888;
}

.playing {
    background: #cccccc;
    transform: translateY(5px);
    box-shadow: 0px 2px #888888;
}

.sharp {
  top: -50px;
  width: 30px;
  height: 200px;
  background: #000000;
}

.sharp.playing {
  transform: translateY(5px);
  background: #404040;
}

span.keyBoard {
  left: 150px;
  margin: 0 auto;
  position: relative;
}
